:root {
    --cards: #d4d4d4;
    --fuente-cards: #050505;
    --green-light: #0c0d0d;
    --negro: #36383f;
    --body: #fcf9f9;
    --verde: green;
    --rojo: red;
    --base: #000;
    --fondo: rgba(41, 38, 34, 0.067);
    --fondo2: rgb(206, 80, 245);
  }
  

.app_container{
   background-color: var(--body);
   margin-top: 13em;
   margin-bottom: 9em;
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   
   }
   
   .card{
     margin-bottom: 22em;
    background-color: var(--cards);   
    box-shadow: 1px 1px 0px 1px var(--green-light);
    border-radius: 4px;
    width: 14em; 
    gap: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 28em;
    padding: 0.5em;
  
    margin: 1.5em;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* gap: 2em; */
    /* height: 53em; */
    border: 2em;
    &:hover{
      transform: scale(1.1);
      box-shadow: 1px 4px 8px 2px rgba(139, 141, 143, 0.788); 
      cursor: pointer;
      /* color: red; */
    
      
   
    }
}
.producto_img{
    width: 100%;
    height: 15em;
    border-radius: 0.2em 0.2em 0 0 ;
    transition: transform 0.3s ease; 
    &:hover{
      transform: rotate(-2deg);
    }


}